# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
output/*
!output/sample-*

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
venv/
venv.bak/

# Other
.idea/
.DS_Store